@media (max-width: 768px) {
  .text-breadcrumb {
    font-size: 12px;
    text-decoration: underline;
    color: white;
  }

  .cart-content {
    background-color: #e9ecef;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    margin-top: 3px;
  }

  .text-cart {
    font-size: 12px;
  }

  .product-name-cart {
    font-family: -apple-system, "Abel";
    font-weight: bold;
    font-size: 13px;
  }

  .image-product-cart {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }

  .remove-cart-product {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    width: 70px;
    height: 20px;
  }

  .finish-order-btn {
    width: 100%;
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .content-cart-desk {
    padding: 0px 4% 0px 4%;
  }

  .text-breadcrumb {
    font-size: 16px;
    text-decoration: underline;
    color: white;
  }

  .cart-content {
    background-color: #e9ecef;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    margin-top: 20px;
    height: 155px;
  }

  .text-cart {
    font-size: 16px;
  }

  .product-name-cart {
    font-family: -apple-system, "Abel";
    font-weight: bold;
    font-size: 16px;
  }

  .image-product-cart {
    width: 105px;
    height: 105px;
    object-fit: cover;
  }

  .remove-cart-product {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    width: 100px;
    height: 30px;
  }

  .finish-order-btn {
    width: 40%;
    margin-bottom: 60px;
  }
}

.cart-content-desk {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cart-content-desk-left {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.cart-content-desk-right {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.breadcrumb-custom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  padding-top: 75px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.arrow-custom {
  fill: #ffc107;
}

.text-breadcrumb:hover {
  color: #ffc107;
  font-weight: bold;
}

.cart-title {
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid #e9ecef;
  margin-bottom: 20px;
  color: white;
}

.cart {
  width: 50%;
}

.arrow-content {
  width: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.cart-left {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.img-name {
  display: flex;
  align-items: center;
}

.cart-actions {
  display: flex;
}

.cart-right {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: space-between;
  align-items: flex-end;
}

.product-price-cart {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.product-total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.empty-cart {
  margin-top: 20px;
  background-color: #ffc107;
  border-color: #ffc107;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.actions-cart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.padding-jumbotron {
  padding: 20px;
  margin-top: 20px;
}

.width-list-cart {
  width: 100%;
}

.cart-resume-title {
  display: flex;
  margin-bottom: 20px;
  font-weight: bold;
  align-items: center;
}

.align-list-custom {
  display: flex;
  justify-content: space-between;
}
