@media (max-width: 768px) {
  .header-left {
    display: flex;
    width: 30%;
    padding-left: 5%;
  }

  .input-search {
    border-color: #ffc107;
    border-radius: 4px 0px 0px 4px !important;
    height: 39px !important;
    width: 125px !important;
  }
}

@media (min-width: 768px) {
  .header-left {
    display: flex;
    width: 50%;
    padding-left: 5%;
  }

  .input-search {
    border-color: #ffc107;
    border-radius: 4px 0px 0px 4px !important;
    height: 39px !important;
    width: 315px !important;
  }
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid;
  background-color: black !important;
  position: fixed;
}

.header-right {
  display: flex;
  width: 70%;
  justify-content: flex-end;
  padding-right: 5%;
  align-items: center;
}

.img-logo {
  width: 100px;
}

.img-wpp {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: auto;
  z-index: 1000;
  cursor: pointer;
}

.form-search {
  margin-right: 22px;
}

.svg-search {
  color: white;
}

.button-search {
  border-radius: 0px 4px 4px 0px;
}
