.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid;
    background-color: black!important;
    position: fixed;
}

.header-left {
    display: flex;
    width: 50%;
    padding-left: 5%;
}

.header-right {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    padding-right: 5%;
}

.img-logo {
    width: 100px;
}

.img-wpp {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: auto;
    z-index: 1000;
}
