.renan {
  color: #6c757d !important;
  text-decoration: underline;
}

.text-center {
  position: relative;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 75px;
  border-top: 1px solid;
  align-items: center;
  flex-direction: column;
}
